# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams @opensearch-project/common-utils
* @lezzago @bowenlan-amzn @rishabhmaurya @getsaurabh02 @eirsep @AWSHurneyt @engechas @riysaxen-amzn @cwperks @toepkerd @vikhy-aws @manaswini1920 @nishtham-amazon @KashKondaka

